
body{
	text-align:center;
	background: url("../images/red-wallpaper.jpg")!important;
	margin:0;
	font-family: 'Gentium Book Basic', serif;
	font-weight:700;
	font-size:20px;
}

.container{
	background:url("../images/wine-barrel.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto;
	padding: 0px 30%;
	height: 650px;
}

h1{
	margin: 30px auto 10px auto;
	color:gold;
	font-family: 'Dancing Script', cursive;
	font-size: 400%;
	font-weight:700;
}

h2 {
	margin-top:0px;
	padding:0;
	color: #3c1115;
	font-size:170%;
}

h3 {
	margin-top:10px;
	padding:3px 0;
	color: #3c1115;
	font-size:130%;
}

#instructions-div{
	color: #3c1115;
	font-family: 'Gentium Book Basic', serif;
	font-weight: 700;
	font-size:130%;

}

.instructions-header{
	font-size: 200%;
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
}

.instructions{
	margin-top:25px;
	line-height:120%;
	text-align: justify;
}

img{
	border-radius: 5px;
	width:310px;
	height: 200px;
	margin-top:10px;
}

#quiz-area{
	padding: 0 50px 0 50px;
	text-align: center;
	padding-top:150px;
}

#sub-wrapper{
	margin-top:20px;
	font-size:80%;
	color:#3c1115;
}

/*Buttons*/
.btn {
	font-size:120%;
	width:150px;
	height:auto;
	padding:10px 8px 10px 8px;
	border-radius: 15px;
	background: #3c1115;
	margin-top: 10px;
	color: gold;
	border:1px solid #3c1115;
	margin-top:20px;
	font-family: 'Dancing Script', cursive;
}

.btn:hover{
	cursor:pointer;
	border: 1px solid gold;
}

.answer-button{
	display: block;
  width: 350px;
  height: auto;
	margin: 25px auto 0 auto;
	font-size:140%;
	font-family: 'Gentium Book Basic', cursive;
	font-weight: 400;
}

@media only screen and (max-width:1023px){
	.container{
		padding: 0px 20%;
		height: 500px;
	}
	
	h1{
		margin: 30px auto 10px auto;
		font-size: 370%;
	}
	
	h2 {
		font-size:140%;
	}
	
	h3 {
		margin-top:8px;
		padding:3px 0;
		font-size:110%;
	}
	
	#instructions-div{
		font-size:110%;
		padding-top:10px;
	
	}
	
	.instructions-header{
		font-size: 190%;
	}
	
	.instructions{
		margin-top:20px;
		line-height:130%;
	}
	
	img{
		border-radius: 5px;
		width:250px;
		height: 160px;
		margin-top:10px;
	}
	
	#quiz-area{
		padding: 120px 50px 0 50px;
	}
	
	#sub-wrapper{
		margin-top:10px;
		font-size:80%;
	}
	
	/*Buttons*/
	.btn {
		font-size:100%;
		width:120px;
		padding:10px 8px 10px 8px;
		margin-top: 15px;

	}
	
	.answer-button{
		width: 290px;
		margin: 15px auto 0 auto;
		font-size:100%;
	}
}

@media only screen and (max-width:767px){
	.container{
		padding: 0px 15%;
		height: 500px;
	}
	
	h1{
		margin: 30px auto 0px auto;
		font-size: 350%;
	}
	
	h2 {
		font-size:140%;
	}
	
	h3 {
		margin-top:8px;
		padding:3px 0;
		font-size:100%;
	}
	
	#instructions-div{
		font-size:100%;
		padding-top:20px;
	
	}
	
	.instructions-header{
		font-size: 190%;
	}
	
	.instructions{
		margin-top:20px;
		line-height:120%;
	}
	
	img{
		border-radius: 5px;
		width:250px;
		height: 160px;
		margin-top:10px;
	}
	
	#quiz-area{
		padding: 100px 45px 0 45px;
	}
	
	#sub-wrapper{
		margin-top:10px;
		font-size:80%;
	}
	
	/*Buttons*/
	.btn {
		font-size:100%;
		width:120px;
		padding:10px 8px 10px 8px;
		margin-top: 15px;

	}
	
	.answer-button{
		width: 270px;
		margin: 15px auto 0 auto;
		font-size:100%;
	}
}

@media screen and (max-width:480px) {
	.container{
		padding: 0px 5%;
		height: 450px;
	}
	
	h1{
		margin: 30px auto 0px auto;
		font-size: 300%;
	}
	
	h2 {
		font-size:120%;
	}
	
	h3 {
		margin-top:8px;
		padding:3px 0;
		font-size:90%;
	}
	
	#instructions-div{
		font-size:100%;
		padding-top:20px;
	
	}
	
	.instructions-header{
		font-size: 160%;
	}
	
	.instructions{
		margin-top:20px;
		line-height:110%;
	}
	
	img{
		border-radius: 5px;
		width:230px;
		height: 140px;
		margin-top:10px;
	}
	
	#quiz-area{
		padding: 0 45px 0 45px;
		padding-top:90px;
	}
	
	#sub-wrapper{
		margin-top:10px;
		font-size:80%;
	}
	
	/*Buttons*/
	.btn {
		font-size:90%;
		width:100px;
		padding:8px 7px 8px 7px;
		margin-top: 15px;

	}
	
	.answer-button{
		width: 190px;
		margin: 15px auto 0 auto;
		font-size:90%;
	}
}
