body{
	text-align:center;
	font-family: serif;
	background: #3c1115;
	background: url("../images/red-wallpaper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: black;
}

h1{
	margin: 30px 0 10px 0;
	color:gold;
	font-family: cursive;
	font-size: 80px;
	font-weight:bold;
}

#pages{
	background:url("../images/wine-barrel.png");
	background-repeat: no-repeat;
	background-position:center, center;
	width:auto;
	height: 750px;
	margin-top: 0px;
}

#start-page{
	padding-top: 150px;
	width: 500px;
	margin:auto;
}

#start-page h4{
	font-size: 50px;
	font-family:cursive;
	font-weight: bold;
}

#start-page p{
	font-size:30px;
	padding: 20px 0 20px 0;
}

button{
	width:150px;
	height:75px;
	font-size:25px;
	font-weight:20px;
	border-radius: 20px;
	color: gold;
	background: #3c1115;
}

button:hover{
	border: 1px solid gold;
}

#instructions{
	width:200px;
}

#quiz{
	padding-top: 130px;
	width: 560px;
	margin:auto;
}

#timer{
	font-size:40px;
	font-weight:bold;
}

#quiz h4{
	font-size: 50px;
	font-family:serif;
	font-weight: bold;
}

#quiz h3{
	width:250px;
	font-weight:bold;
}

input{
	float: left;
}

form{
	margin-left:185px;
}

#next{
	margin:15px 0 0 0;
}

#results{
	padding-top: 150px;
	width: 500px;
	margin:auto;
}

#results h4{
	font-size: 70px;
	font-family:cursive;
	font-weight: bold;
}

#results h3{
	font-size:25px;
	padding: 10px 0 10px 0;
	font-weight:bold;
}

.quizDisplay{
	display:none;
}

.resultsDisplay{
	display: none;
}

.submitDisplay{
	display:none;
}

